@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

.content_img_landscape {
    object-fit: contain;
    border-radius: 10px;
}

.contentModel_rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.genres {
    justify-content: center;
}



.contentModel_rating p {
    margin: 2.5px;
}

.content_img {
    display: none;
    object-fit: contain;
    border-radius: 10px;
}

.content_tagline {
    padding-bottom: 10px;
    align-self: center;
}

.contentModel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
}

.contentModel::-webkit-scrollbar {
    display: none;
}

.contentModel_about {
    padding: 10px;
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    justify-content: space-evenly;
    font-weight: 300;
}

.content_title {
    height: 12%;
    font-size: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_dscription {
    display: flex;
    height: 40%;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 5px;
    scrollbar-width: thin;
    box-shadow: inset 0 0 4px #282c34;
}

.content_dscription::-webkit-scrollbar {
    display: none;
}

@media (min-width: 835px) {
    .content_img_landscape {
        display: none;
    }

    .content_img {
        display: flex;
        width: 38%;
    }

    .contentModel {
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 0;
    }

    .contentModel_about {
        width: 58%;
        padding: 0;
        height: 100%;
    }

    .content_title {
        font-size: 2vw;
    }

    .content_dscription {
        font-size: 22px;
    }
}