@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: #121212;
  padding-top: 100px;
  padding-bottom: 70px;
  color: #ffffff;
}

@media (max-width:700px) {
  .app {
    padding-top: 70px;

  }
}

.pageTitle {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  padding: 4px;
  color: #ffffff;
  font-family: 'Montserrat';
  cursor: pointer;
}

.loading_div {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 400px;
  padding: 5px;
  margin: 5px 0;
  background-color: #282c34;
  border-radius: 0px;
  position: relative;
  font-family: "Montserrat",
    sans-serif;
  overflow: hidden;
  justify-content: space-around;
  text-align: center;
}